.paginate {
  text-align: center;
  margin: 2rem auto;
}

.hotel {
  width: 100%;
  min-height: 250px;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.3);
}

.featured-image {
  width: 28%;
  min-height: 250px;
}

.featured-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.featured-image:hover {
  cursor: pointer;
}
.hotel .content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .main,
.content .view {
  width: 49%;
}

.main .star {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.main .star p {
  opacity: 0.5;
  margin-left: 1rem;
}

.location,
.reviews {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  height: 3rem;
}

.location {
  border-bottom: 1px solid rgb(232, 232, 232);
  border-top: 1px solid rgb(232, 232, 232);
  opacity: 0.5;
}

.location p {
  font-size: 1rem;
  text-align: left;
  color: #0a1121;
  padding: 0 1rem;
}

.reviews button {
  width: 2.5rem;
  background-color: rgb(232, 232, 232);
  border-radius: 0.4rem;
  border: 2px solid black;
}

.reviews h5 {
  font-weight: bolder;
  font-size: 1rem;
  padding-left: 1rem;
}

.reviews:hover,
.location:hover {
  cursor: pointer;
  background-color: rgb(232, 232, 232);
}

.view .cancellation {
  background-color: rgba(241, 248, 234, 0.9);
  padding: 1rem;
  border-radius: 5px;
}

.view .cancellation:hover {
  border: 1px solid rgb(2, 128, 0);
  padding: calc(1rem - 1px);
  cursor: pointer;
  margin: 0;
}

.view .cancellation h4 {
  color: rgb(2, 128, 0);
  padding: 0.5rem 0;
  vertical-align: middle;
}

.cancellation .view-deal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cancellation .view-deal h2 {
  color: rgb(2, 128, 0);
}

.cancellation .view-deal button {
  background-color: rgb(2, 128, 0);
  border: none;
  color: #fff;
  width: 7rem;
  height: 3rem;
  border-radius: 5px;
}

.cancellation .view-deal button:hover {
  cursor: pointer;
  background-color: rgb(3, 92, 2);
}

.prices {
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.prices .price,
.prices .lowest-price {
  padding: 0.5rem;
  border: 1px solid rgb(232, 232, 232);
}

.prices:hover {
  cursor: pointer;
  background-color: rgb(232, 232, 232);
}

.prices .lowest-price {
  width: 60%;
}

.prices .price {
  width: 38%;
}

.prices h3 {
  font-weight: 700;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort p {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.spinner {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 100%;
  height: 500px;
}

.otherImages {
  width: 300px;
  height: 300px;
  margin-top: 1rem;
}

.otherImages img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.delete-hotel {
  background-color: rgb(224, 16, 16);
  border: none;
  color: #fff;
  width: 7rem;
  height: 3rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.delete-hotel:hover {
  cursor: pointer;
}

/* MEDIA QUERIES (FOR MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .hotel .content {
    display: block;
  }

  .content .main,
  .content .view {
    width: 100%;
  }

  .content .main {
    margin-bottom: 1rem;
  }

  .content .main h2 {
    font-size: 1.2rem;
  }
}

/* MEDIA QUERIES (FOR SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .featured-image {
    display: none;
  }
  .hotel .content {
    width: 100%;
  }
}
